body {
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  color: #1a4166;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0
}
h1, h2 {
  font-family: 'Pacifico';
  color: #1c2b4b;
  line-height: 1.3em; 
  font-size: 2rem;
}

body, p {
  font-family: 'Quicksand', sans-serif;
  color: #444;
  margin-bottom: 1.6em;
}
.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header-superior {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  border-bottom: 1px solid #eee;
}
.logo-img {
  height: 80px;
  width: auto;
  max-width: 120%;
}
.logo-link {
  display: block;
  text-decoration: none;
}

.logo-link img {
  display: block;
  margin: 0 auto;
}
.header-inferior {
  background-color: #fef6f0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid  #ff8a80; 
  padding: 0 2rem;
}
.icono-inicio {
  height: 30px; 
  width: auto;
  display: block;
}
.nav-izq {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.nav-izq li {
  list-style: none;
}
.nav-der {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.nav-der li a {
  text-decoration: none;
  color: #1c2b4b;
  font-weight: bold;
  font-size: 1rem;
}
.boton-contacto {
  background-color: #1c2b4b; 
  color: #fef6f0 !important;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.boton-contacto:hover {
  background-color: #fdd626; 
  color: #fef6f0;
  transform: scale(1.05);
}
.header-inferior ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
.header-inferior a {
  text-decoration: none;
  color: #1c2b4b;
  font-weight: bold;
  font-size: 1rem;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  margin: 0;
  color: #1c2b4b;
}

header h1 span {
  display: block;
  font-size: 3rem;
  color:#18d1d1;
}

.subtitulo {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #666;
}


nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #1a4166;
  font-weight: bold;
}

.footer {
    background: #d0d0d0;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}
.main{
    padding-top: 11rem;
}